// styles in src/style directory are applied to the whole page
body {
  background: url("../public/img/congruent_outline.png");
}

.menu{
  margin-bottom: 20px;
  background: #eee;
  .item{
    margin-right: 5px;
  }
}

.wellc{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}
.media {
  margin-bottom: 20px;
}

.alert{
  padding: 5px;
  border: 0;
}
.alert-danger{
  color: #fff;
  background-color: rgba(244, 67, 54, 0.71)
}
